<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621684633091-6vp7c427mqif8mb38pu7mciv1024d3vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621684633091-6vp7c427mqif8mb38pu7mciv1024d3vq</string>
	<key>API_KEY</key>
	<string>AIzaSyB4maFpYgyIZapLmwopkX3gXqObQanH3bQ</string>
	<key>GCM_SENDER_ID</key>
	<string>621684633091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>surainfdo.NIBM-Event-APP</string>
	<key>PROJECT_ID</key>
	<string>projecttest1-cb05a</string>
	<key>STORAGE_BUCKET</key>
	<string>projecttest1-cb05a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621684633091:ios:825ff4a40ccba7e11ba836</string>
	<key>DATABASE_URL</key>
	<string>https://projecttest1-cb05a.firebaseio.com</string>
</dict>
</plist>